<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>Szablon</title>
    <meta charset="utf-8">
    <meta name="title" content="Szablon">
    <meta name="description" content="Szablon opis">
    <meta name="keywords" content="Szablon keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="source/layout/favicon/src/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="source/layout/favicon/src/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="source/layout/favicon/src/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="source/layout/favicon/src/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="source/layout/favicon/src/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="source/layout/favicon/src/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="source/layout/favicon/src/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="source/layout/favicon/src/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="source/layout/favicon/src/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="source/layout/favicon/src/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="source/layout/favicon/src/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="source/layout/favicon/src/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="source/layout/favicon/src/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="source/layout/favicon/src/favicon-16x16.png">
    <link rel="manifest" href="source/layout/favicon/src/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="source/layout/favicon/src/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="css/main.css">
    <script>
      document.write('<script src="http://'
        + (location.host || 'localhost').split(':')[0]
        + ':35729/livereload.js"></'
        + 'script>')
    </script>
  </head>
  <body>
    <div class="loader js-loader"><img class="loader__icon" src="source/layout/loader/src/oval.svg" alt="Loading..."></div>
    <!--include ../common/header/_header-->
    <!-- Content-->
    <div class="content js-content">
      <!-- Content Blocks-->
      <section class="content__blocks" id="contentPage"><br><br><br>
        <!-- Blog-->
        <section class="blog" style="background-image: url('source/components/blog/src/blog.jpg');">
          <div class="blog__holder">
            <div class="blog__container">
              <div class="blog__box">
                <div class="blog__titlebox"><span class="blog__category"><span>BLOG</span> / <a href="#">LOREM IPSUM DOLOR</a></span>
                  <h2 class="blog__title">Booking A Holiday Tour Or Vacation In Egypt</h2>
                  <div class="blog__land">Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna</div>
                </div>
                <div class="blog__content">
                  <div class="blog__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor  Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod temporsit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section><br><br><br>
      </section>
    </div>
    <!--include ../common/footer/_footer-->
    <!-- Arrow Scroll--><span class="arrow js-arrow"><i class="material-icons">keyboard_arrow_up</i></span>
    <!--Scripts-->
    <script src="scripts/main.min.js"></script>
  </body>
</html>