<!DOCTYPE html>
<html lang="pl">
  <head>
    <title>Szablon</title>
    <meta charset="utf-8">
    <meta name="title" content="Szablon">
    <meta name="description" content="Szablon opis">
    <meta name="keywords" content="Szablon keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="source/layout/favicon/src/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="source/layout/favicon/src/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="source/layout/favicon/src/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="source/layout/favicon/src/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="source/layout/favicon/src/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="source/layout/favicon/src/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="source/layout/favicon/src/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="source/layout/favicon/src/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="source/layout/favicon/src/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="source/layout/favicon/src/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="source/layout/favicon/src/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="source/layout/favicon/src/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="source/layout/favicon/src/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="source/layout/favicon/src/favicon-16x16.png">
    <link rel="manifest" href="source/layout/favicon/src/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="source/layout/favicon/src/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="css/main.css">
    <script>
      document.write('<script src="http://'
        + (location.host || 'localhost').split(':')[0]
        + ':35729/livereload.js"></'
        + 'script>')
    </script>
  </head>
  <body>
    <div class="loader js-loader"><img class="loader__icon" src="source/layout/loader/src/oval.svg" alt="Loading..."></div>
    <!-- Wrapper-->
    <div class="wrapper js-wrapper">
      <div class="wrapper__navigation">
        <!-- Wrapper Close--><span class="wrapper__close"><i class="material-icons">arrow_back</i> CLOSE MENU</span>
        <!-- Wrapper Navigation-->
        <div class="wrapper__menu -menu-wrapped"></div>
      </div>
      <div class="wrapper__page">
        <!-- Content-->
        <div class="content js-content">
          <!-- Header-->
          <header class="header js-header -header-landingPage -header-fixed">
            <div class="header__wrapper">
              <div class="header__content">
                <div class="header__container">
                  <div class="header__box">
                    <div class="header__item">
                      <!--Logo--><a class="logo" href="#" title="Home Page">
                        <div class="logo__brand"><img class="logo__image" src="source/common/logo/src/logo.png" alt="Fitness"></div>
                        <div class="logo__content">
                          <div class="logo__title">FITNESS</div>
                          <div class="logo__text">by MSOBIECKI</div>
                        </div>
                        <!--img.logo__customImage(src="source/common/logo/src/logo.png" alt="Fitness")--></a>
                    </div>
                    <div class="header__item">
                      <!-- Navigation-->
                      <nav class="navigation js-navigation" role="navigation">
                        <div class="navigation__box">
                          <div class="navigation__menu">
                            <!-- Menu-->
                            <ul class="menu js-menu">
                              <li class="menu__item"><a class="menu__link" href="#">About</a><span class="menu__dropdown"><i class="material-icons -add">add</i> <i class="material-icons -remove">remove</i></span>
                                <ul class="menu__submenu">
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                </ul>
                              </li>
                              <li class="menu__item"><a class="menu__link" href="#">How it works</a><span class="menu__dropdown"><i class="material-icons -add">add</i> <i class="material-icons -remove">remove</i></span>
                                <ul class="menu__submenu">
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About lorem ipsum el de sol</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                </ul>
                              </li>
                              <li class="menu__item"><span class="menu__link" href="#">Services</span><span class="menu__dropdown"><i class="material-icons -add">add</i> <i class="material-icons -remove">remove</i></span>
                                <ul class="menu__submenu">
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                </ul>
                              </li>
                              <li class="menu__item"><a class="menu__link" href="#">FAQ</a></li>
                              <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
                              <li class="menu__item"><span class="menu__link" href="#">Services</span><span class="menu__dropdown"><i class="material-icons -add">add</i> <i class="material-icons -remove">remove</i></span>
                                <ul class="menu__submenu">
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                  <li class="menu__subitem"><a class="menu__sublink" href="#">About</a></li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                          <div class="navigation__toggle">
                            <!-- Menu Toggle Button-->
                            <button class="navigation-toggle hamburger hamburger--spring" type="button"><span class="navigation-toggle__box hamburger-box"><span class="navigation-toggle__inner hamburger-inner"></span></span></button>
                          </div>
                        </div>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div class="banner js-banner -banner-slick">
            <div class="banner__slider" data-slick="{&quot;speed&quot;: 3000, &quot;autoplaySpeed&quot;: 5000}">
              <div class="banner__item">
                <div class="banner__image" style="background-image: url('source/components/banner/src/banner-one.jpg');"></div>
                <div class="banner__box">
                  <div class="banner__content">
                    <div class="banner__text">
                      <h2>LOREM IPSUM</h2>
                      <h1>LOREM IPSUM EL DOSOL</h1>
                    </div><span class="banner__toggler" data-href="#contentPage" title="Przejdź dalej"><i class="material-icons">keyboard_arrow_down</i></span>
                  </div>
                </div>
              </div><a class="banner__item -banner-content-left" href="#">
                <div class="banner__image" style="background-image: url('source/components/banner/src/banner-one.jpg');"></div>
                <div class="banner__box">
                  <div class="banner__content">
                    <div class="banner__text">
                      <h2>LOREM IPSUM</h2>
                      <h1>LOREM IPSUM EL DOSOL</h1>
                    </div><span class="banner__toggler" data-href="#contentPage" title="Przejdź dalej"><i class="material-icons">keyboard_arrow_down</i></span>
                  </div>
                </div></a><a class="banner__item -banner-content-right" href="#">
                <div class="banner__image" style="background-image: url('source/components/banner/src/banner-one.jpg');"></div>
                <div class="banner__box">
                  <div class="banner__content">
                    <div class="banner__text">
                      <h2>LOREM IPSUM</h2>
                      <h1>LOREM IPSUM EL DOSOL</h1>
                    </div><span class="banner__toggler" data-href="#contentPage" title="Przejdź dalej"><i class="material-icons">keyboard_arrow_down</i></span>
                  </div>
                </div></a>
            </div>
            <div class="banner__dots"></div>
            <div class="banner__arrows"></div>
          </div>
          <!-- Content Blocks-->
          <div class="content__blocks" id="contentPage">
            <!-- Articles-->
            <section class="articles js-articles -slick">
              <div class="articles__container">
                <div class="articles__title">Is It Frosting Or Is It Icing</div>
                <div class="articles__box">
                  <div class="articles__item">
                    <!-- Articles-item--><a class="articles-item" href="#">
                      <div class="articles-item__imagebox"><img class="articles-item__image" src="source/components/articles/articles-item/src/articles-item-one.jpg" alt="Image 1"></div>
                      <div class="articles-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div></a>
                  </div>
                  <div class="articles__item">
                    <!-- Articles-item--><a class="articles-item" href="#">
                      <div class="articles-item__imagebox"><img class="articles-item__image" src="source/components/articles/articles-item/src/articles-item-three.jpg" alt="Image 1"></div>
                      <div class="articles-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div></a>
                  </div>
                  <div class="articles__item">
                    <!-- Articles-item--><a class="articles-item" href="#">
                      <div class="articles-item__imagebox"><img class="articles-item__image" src="source/components/articles/articles-item/src/articles-item-two.jpg" alt="Image 1"></div>
                      <div class="articles-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div></a>
                  </div>
                  <div class="articles__item">
                    <!-- Articles-item--><a class="articles-item" href="#">
                      <div class="articles-item__imagebox"><img class="articles-item__image" src="source/components/articles/articles-item/src/articles-item-four.jpg" alt="Image 1"></div>
                      <div class="articles-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div></a>
                  </div>
                  <div class="articles__item">
                    <!-- Articles-item--><a class="articles-item" href="#">
                      <div class="articles-item__imagebox"><img class="articles-item__image" src="source/components/articles/articles-item/src/articles-item-five.jpg" alt="Image 1"></div>
                      <div class="articles-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</div></a>
                  </div>
                </div>
                <div class="articles__arrows"></div>
              </div>
              <div class="articles__dots"></div>
            </section>
            <!-- Blog-->
            <section class="blog" style="background-image: url('source/components/blog/src/blog.jpg');">
              <div class="blog__holder">
                <div class="blog__container">
                  <div class="blog__box">
                    <div class="blog__titlebox"><span class="blog__category"><span>BLOG</span> / <a href="#">LOREM IPSUM DOLOR</a></span>
                      <h2 class="blog__title">Booking A Holiday Tour Or Vacation In Egypt</h2>
                      <div class="blog__land">Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna</div>
                    </div>
                    <div class="blog__content">
                      <div class="blog__text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor  Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod temporsit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- Posts-->
            <section class="posts js-posts -slick">
              <div class="posts__container">
                <div class="posts__box">
                  <div class="posts__item">
                    <!-- Post-->
                    <div class="posts-item">
                      <div class="posts-item__imagebox"><img class="posts-item__image" src="source/components/posts/posts-item/src/post-one.jpg" alt="Post"></div>
                      <div class="posts-item__details">
                        <h3 class="posts-item__title">The Basic Of Buying A Telescope</h3>
                        <div class="posts-item__text">Few would argue that, despite the advencements of feminism over the past three decades, women still face a double standard when it comes to their behavior.</div>
                        <div class="posts-item__footer">
                          <div class="posts-item__author"><i class="material-icons">person_outline</i> Caroline Fleming</div><a class="posts-item__more" href="#"><i class="material-icons">keyboard_arrow_right</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="posts__item">
                    <!-- Post-->
                    <div class="posts-item">
                      <div class="posts-item__imagebox"><img class="posts-item__image" src="source/components/posts/posts-item/src/post-two.jpg" alt="Post"></div>
                      <div class="posts-item__details">
                        <h3 class="posts-item__title">Stu Unger Rise And Fall of A Poker Genius</h3>
                        <div class="posts-item__text">LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more</div>
                        <div class="posts-item__footer">
                          <div class="posts-item__author"><i class="material-icons">person_outline</i> Admin</div><a class="posts-item__more" href="#"><i class="material-icons">keyboard_arrow_right</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="posts__item">
                    <!-- Post-->
                    <div class="posts-item">
                      <div class="posts-item__imagebox"><img class="posts-item__image" src="source/components/posts/posts-item/src/post-three.jpg" alt="Post"></div>
                      <div class="posts-item__details">
                        <h3 class="posts-item__title">A Starter Guide To Self Improvement</h3>
                        <div class="posts-item__text">It is a good idea to think of your PC as an office. It stores files, programs, pictures. This can be compared to an actual office's files, machines and decorations.</div>
                        <div class="posts-item__footer">
                          <div class="posts-item__author"><i class="material-icons">person_outline</i> Caroline Fleming</div><a class="posts-item__more" href="#"><i class="material-icons">keyboard_arrow_right</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="posts__item">
                    <!-- Post-->
                    <div class="posts-item">
                      <div class="posts-item__imagebox"><img class="posts-item__image" src="source/components/posts/posts-item/src/post-two.jpg" alt="Post"></div>
                      <div class="posts-item__details">
                        <h3 class="posts-item__title">Stu Unger Rise And Fall of A Poker Genius</h3>
                        <div class="posts-item__text">LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more</div>
                        <div class="posts-item__footer">
                          <div class="posts-item__author"><i class="material-icons">person_outline</i> Admin</div><a class="posts-item__more" href="#"><i class="material-icons">keyboard_arrow_right</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="posts__item">
                    <!-- Post-->
                    <div class="posts-item">
                      <div class="posts-item__imagebox"><img class="posts-item__image" src="source/components/posts/posts-item/src/post-one.jpg" alt="Post"></div>
                      <div class="posts-item__details">
                        <h3 class="posts-item__title">The Basic Of Buying A Telescope</h3>
                        <div class="posts-item__text">Few would argue that, despite the advencements of feminism over the past three decades, women still face a double standard when it comes to their behavior.</div>
                        <div class="posts-item__footer">
                          <div class="posts-item__author"><i class="material-icons">person_outline</i> Caroline Fleming</div><a class="posts-item__more" href="#"><i class="material-icons">keyboard_arrow_right</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="posts__item">
                    <!-- Post-->
                    <div class="posts-item">
                      <div class="posts-item__imagebox"><img class="posts-item__image" src="source/components/posts/posts-item/src/post-three.jpg" alt="Post"></div>
                      <div class="posts-item__details">
                        <h3 class="posts-item__title">A Starter Guide To Self Improvement</h3>
                        <div class="posts-item__text">It is a good idea to think of your PC as an office. It stores files, programs, pictures. This can be compared to an actual office's files, machines and decorations.</div>
                        <div class="posts-item__footer">
                          <div class="posts-item__author"><i class="material-icons">person_outline</i> Caroline Fleming</div><a class="posts-item__more" href="#"><i class="material-icons">keyboard_arrow_right</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="posts__arrows"></div>
              </div>
              <div class="posts__dots"></div>
            </section>
          </div>
        </div>
        <!-- Abstract-->
        <section class="abstract js-abstract">
          <div class="abstract__item -abstract-left -abstract-bottom" style="background-image: url(source/components/abstract/src/abstract-one.jpg);">
            <div class="abstract__container">
              <div class="abstract__details"><span class="abstract__date">01 AUGUST 2015</span>
                <h2 class="abstract__title">THE BASICS OF WASTERN ASTROLOGY EXPLAINED</h2>
                <div class="abstract__text">According to the research firm Frost & Sullivan, the estimated size of the North American used test and measurement</div><a class="abstract__link" href="#">See the options <i class="material-icons">arrow_forward</i></a>
              </div>
            </div>
          </div>
          <div class="abstract__item -abstract-right -abstract-bottom" style="background-image: url(source/components/abstract/src/abstract-two.jpg);">
            <div class="abstract__container">
              <div class="abstract__details"><span class="abstract__date">01 AUGUST 2015</span>
                <h2 class="abstract__title">More power behind every pixel!</h2>
                <div class="abstract__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.</div><a class="abstract__link" href="#">See the options <i class="material-icons">arrow_forward</i> <i class="material-icons">arrow_forward</i></a>
              </div>
            </div>
          </div>
        </section>
        <!-- Footer-->
        <footer class="footer">
          <div class="footer__container">
            <div class="footer__box">
              <div class="footer__item">
                <!-- Footer-details-->
                <div class="footer-details">
                  <div class="footer-details__box">
                    <div class="footer-details__item">
                      <div class="footer-details__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer__item">
                <div class="footer__columns">
                  <div class="footer__column">
                    <!-- Footer Social-->
                    <div class="footer-social"><a class="footer-social__item -facebook" href="#"><i class="fa fa-facebook"></i></a><a class="footer-social__item -twitter" href="#"><i class="fa fa-twitter"></i></a><a class="footer-social__item -youtube" href="#"><i class="fa fa-youtube-play"></i></a><a class="footer-social__item -linkedin" href="#"><i class="fa fa-linkedin"></i></a></div>
                  </div>
                  <div class="footer__column">
                    <!-- Footer-newsletter-->
                    <div class="footer-newsletter">
                      <div class="footer-newsletter__title">Sign up for our newsletter</div>
                      <div class="footer-newsletter__content">
                        <div class="footer-newsletter__inputbox">
                          <input class="footer-newsletter__input" placeholder="Email">
                          <button class="footer-newsletter__submit"><i class="material-icons">navigate_next</i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- Arrow Scroll--><span class="arrow js-arrow"><i class="material-icons">keyboard_arrow_up</i></span>
    <!--Scripts-->
    <script src="scripts/main.min.js"></script>
  </body>
</html>