// Footer-newsletter
.footer-newsletter
  .footer-newsletter__title Sign up for our newsletter
  .footer-newsletter__content
    .footer-newsletter__inputbox
      input.footer-newsletter__input(placeholder="Email")
      button.footer-newsletter__submit <i class="material-icons">navigate_next</i>