// Articles-item
a.articles-item(href="#")
  .articles-item__imagebox
    img.articles-item__image(src="source/components/articles/articles-item/src/articles-item-three.jpg" alt="Image 1")
  .articles-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor