// Posts
section.posts.js-posts.-slick
  .posts__container
    .posts__box
      .posts__item
        include posts-item/_posts-item
      .posts__item
        include posts-item/_posts-item-two
      .posts__item
        include posts-item/_posts-item-three
      .posts__item
        include posts-item/_posts-item-two
      .posts__item
        include posts-item/_posts-item
      .posts__item
        include posts-item/_posts-item-three
    .posts__arrows
  .posts__dots