// Footer
footer.footer
  .footer__container
    .footer__box
      .footer__item
        include footer-details/_footer-details
      .footer__item
        .footer__columns
          .footer__column
            include footer-social/_footer-social
          .footer__column
            include footer-newsletter/_footer-newsletter
