.banner.js-banner.-banner-slick
  .banner__slider(data-slick='{"speed": 3000, "autoplaySpeed": 5000}')
    .banner__item
      .banner__image(style="background-image: url('source/components/banner/src/banner-one.jpg')")
      .banner__box
        .banner__content
          .banner__text
            h2 LOREM IPSUM
            h1 LOREM IPSUM EL DOSOL

          span.banner__toggler(data-href="#contentPage" title="Przejdź dalej") <i class="material-icons">keyboard_arrow_down</i>
    a.banner__item(href="#").-banner-content-left
      .banner__image(style="background-image: url('source/components/banner/src/banner-one.jpg')")
      .banner__box
        .banner__content
          .banner__text
            h2 LOREM IPSUM
            h1 LOREM IPSUM EL DOSOL

          span.banner__toggler(data-href="#contentPage" title="Przejdź dalej") <i class="material-icons">keyboard_arrow_down</i>
    a.banner__item(href="#").-banner-content-right
      .banner__image(style="background-image: url('source/components/banner/src/banner-one.jpg')")
      .banner__box
        .banner__content
          .banner__text
            h2 LOREM IPSUM
            h1 LOREM IPSUM EL DOSOL

          span.banner__toggler(data-href="#contentPage" title="Przejdź dalej") <i class="material-icons">keyboard_arrow_down</i>
  .banner__dots
  .banner__arrows