extends layout/_layout

block content

  // Content Blocks
  section.content__blocks#contentPage

    br
    br
    br
    //TODO Banner

    //TODO Articles

    include components/blog/_blog

    //TODO Posts

    include components/posts/_posts

    //TODO Abstract

    //TODO Footer
    br
    br
    br
