// Post
.posts-item
  .posts-item__imagebox
    img.posts-item__image(src="source/components/posts/posts-item/src/post-one.jpg" alt="Post")
  .posts-item__details
    h3.posts-item__title The Basic Of Buying A Telescope
    .posts-item__text Few would argue that, despite the advencements of feminism over the past three decades, women still face a double standard when it comes to their behavior.
    .posts-item__footer
      .posts-item__author <i class="material-icons">person_outline</i> Caroline Fleming
      a.posts-item__more(href="#") <i class="material-icons">keyboard_arrow_right</i>