// Post
.posts-item
  .posts-item__imagebox
    img.posts-item__image(src="source/components/posts/posts-item/src/post-two.jpg" alt="Post")
  .posts-item__details
    h3.posts-item__title Stu Unger Rise And Fall of A Poker Genius
    .posts-item__text LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more
    .posts-item__footer
      .posts-item__author <i class="material-icons">person_outline</i> Admin
      a.posts-item__more(href="#") <i class="material-icons">keyboard_arrow_right</i>