// Post
.posts-item
  .posts-item__imagebox
    img.posts-item__image(src="source/components/posts/posts-item/src/post-three.jpg" alt="Post")
  .posts-item__details
    h3.posts-item__title A Starter Guide To Self Improvement
    .posts-item__text It is a good idea to think of your PC as an office. It stores files, programs, pictures. This can be compared to an actual office's files, machines and decorations.
    .posts-item__footer
      .posts-item__author <i class="material-icons">person_outline</i> Caroline Fleming
      a.posts-item__more(href="#") <i class="material-icons">keyboard_arrow_right</i>