// Blog
section.blog(style="background-image: url('source/components/blog/src/blog.jpg')")
  .blog__holder
    .blog__container
      .blog__box
        .blog__titlebox
          span.blog__category <span>BLOG</span> / <a href="#">LOREM IPSUM DOLOR</a>
          h2.blog__title Booking A Holiday Tour Or Vacation In Egypt
          .blog__land Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna
        .blog__content
          .blog__text
            p Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna

            p Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor  Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod temporsit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna

            p Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna

            p Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna Lorem ipsum dolor sit amet, consectetur adipisicing eht, sed do eusmod tempor incididunt ut labore et dolor magna


