// Abstract
section.abstract.js-abstract
  .abstract__item(style="background-image: url(source/components/abstract/src/abstract-one.jpg)").-abstract-left.-abstract-bottom
    .abstract__container
      .abstract__details
        span.abstract__date 01 AUGUST 2015
        h2.abstract__title THE BASICS OF WASTERN ASTROLOGY EXPLAINED
        .abstract__text According to the research firm Frost & Sullivan, the estimated size of the North American used test and measurement
        a.abstract__link(href="#") See the options <i class="material-icons">arrow_forward</i>
  .abstract__item(style="background-image: url(source/components/abstract/src/abstract-two.jpg)").-abstract-right.-abstract-bottom
    .abstract__container
      .abstract__details
        span.abstract__date 01 AUGUST 2015
        h2.abstract__title More power behind every pixel!
        .abstract__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.
        a.abstract__link(href="#") See the options <i class="material-icons">arrow_forward</i> <i class="material-icons">arrow_forward</i>