// Articles
section.articles.js-articles.-slick
  .articles__container
    .articles__title Is It Frosting Or Is It Icing
    .articles__box
      .articles__item
        include articles-item/_articles-item
      .articles__item
        include articles-item/_articles-item-two
      .articles__item
        include articles-item/_articles-item-three
      .articles__item
        include articles-item/_articles-item-four
      .articles__item
        include articles-item/_articles-item-five
    .articles__arrows
  .articles__dots